<script>
  var project_id = <%= @project.id %>
</script>

<h1 id="file_name_label"><%= @open_file[:name] %></h1>

<div id="file_edit_area" style="min-width:100%" contentEditable=true>
  <%= @open_file[:content].gsub(/\r\n|\r|\n/, "<br>").html_safe %>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="col-lg-offset-3 col-lg-4">
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><button type="button" class="btn btn-primary navbar-btn", id="pdf_update_under">PDF更新</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
