div#file_edit_area {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 16px;
  color: #ffffff;
  background-color: #300b25;
  line-height: 1.2;
  min-width: 100%;
  padding: 4px;
}
